{% extends 'tiendapipi/index.html' %}


{% block titulo %}
<h4 class="mb-2 text-center"><p style="color:green">Acerca de Mica</h4>    
{% endblock titulo %}

{% block contenido %}
<h1><h1 class ="mb-2 text-center"><p style="color:purple">Soy Micaela Magali Lira.</h1> 
<h3><h3 class ="mb-2 text-center">Esta pagina habla sobre mi, una mujer que trabaja de forma dependiente y a su vez trabaja como emprendedora e intenta retomar su carrera profecional en la UBA.</h3> 
<h5><h5 class ="mb-2 text-center">Tengo 30 años, soy coordinadora en una consultora, tengo a cargo 30 personas actualmente y estoy a 12 materias de recibirme de actuario en administracion.</h5> 
<h5><h5 class ="mb-2 text-center">Al principio de la pandemia me quede sin trabajo y comence con dos emprendimientos (sin saber que al año conseguiria trabajo de forma dependiente), los cuales hoy mantengo pero no puedo dedicarme al 100% >> pero aun asi no bajo los brazos.</h5> 
<h5><h5 class ="mb-2 text-center">Uno de los emprendimientos es venta de indumentaria, la cual nos genera ganancia para invertir en el verdadero emprendimiento que es la venta de termos.</h5> 
<h5><h5 class ="mb-2 text-center">Todo esto un poco me alejo de mi prioridad por la carrera que elegi, Actuario en Administracion, por lo cual tome la decision de comenzar este curso para vovler a enamorarme y esta pasando.</h5>
<br>
<h4><h4 class ="mb-2 text-center"><p style="color:red">Mi proyecto se trata de una aplicacion web en la cual ademas del cliente poder comprar, tambien nosotros podamos tener toda la informacion del negocio (TiendaPipi) al alcance, y no tenga que tener planillas por todos lados. El objetivo seria que cada vez que un cliente compre, ya sea mayorista o minorita, se autocompleten los datos en cada modelo cargado.</h4> 
{% endblock contenido %}

