{% extends "tiendapipi/index.html" %}


{% block titulo %}
<h1 class="mb-5">Eliminar el estado de entregable de la venta</h1>                                
{% endblock titulo %}


{% block contenido %}   

<form action="" method="post">
    {% csrf_token %}   
    <div class="text-center">     
        <h3>¿ Esta seguro de eliminar el estado de entregable de la venta ? <p style="color:red">{{ object }}</p> </h3>
    </div>
    <div class="text-center">
        <input type="submit" class="btn btn-primary btn-block" value="Confirmar">
    </div>
</form>

{% endblock contenido %}