{% extends 'tiendapipi/index.html' %}


{% block titulo %}
<h4 class="mb-2 text-center"><p style="color:green">Muchas gracias por ser parte de TiendaPipi</h1>    
{% endblock titulo %}
    


{% block contenido %}
<br>
<h4>
    <p style="color=green" aling="center" class="mb-2 text-center"> Te deslogueaste correctamente.</p>
    <p style="color=green" aling="center" class="mb-2 text-center"> !Que tengas un gran dia!</p>
    <p style="color=green" aling="center" class="mb-2 text-center"> 🧉 Tienda pipi 🧉</p>
</h4>

{% endblock contenido %}