{% extends 'tiendapipi/index.html' %}


{% block titulo %}
<h4 class="mb-2 text-center"><p style="color:green">TiendaMinorista</p></h4>     
{% endblock titulo %}


{% block contenido %}

<table>
    <tr>
        <td width="200"><h2>TiendaMinorista</h2></td>
        <td>
            <a
            href="{%  url 'tiendaMinoristaForm' %}"
            class="btn btn-primary btn-sm"
            ><i class="fa fa-plus fa-lg" title="Crear"> </i>
            </a>
        </td>        
    </tr>
</table>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Dni</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody> 
    {% for c in tiendaMinorista %}
        </tr>
            <td>{{ c.id }}</td>
            <td>{{ c.nombre }}</td>
            <td>{{ c.apellido }}</td>
            <td>{{ c.telefono }}</td>
            <td>{{ c.dni }}</td>
            <td>{{ c.email }}</td>
            <td>
                <a
                  href="{%  url 'tiendaMinoristaUpdate' c.id %}"
                  class="btn btn-primary"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-edit fa-sm" title="Edit Record"></i>
                </a>
                <a
                  href="{%  url 'tiendaMinoristaDelete' c.id %}"
                  class="btn btn-danger"
                  style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;"
                  ><i class="fa fa-trash fa-sm" title="Delete Record"></i>
                </a>                
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
 
{% endblock contenido %}